extends base.pug




block content
    h3 change title of video
    form( method='POST')
        input(name='title' laceholder="New Title", value=video.title,required)
        input(value='Save', type="submit") 