extends base.pug

block content
    form(method="post") 
        input(name="email" type="email" requried )
        input(name="password" type="password" requried )
        input(name="name" type="text" requried )
        input(name="username" type="text" requried )
        input(name="location" type="text" requried )
        input(type="submit" vlaue = "Join" )